img{
    width: 200px;
    height: 200px;
}

td{
        text-align: center;
}

th{
    font-size: 15pt;
}

table{
    width: 100%;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.shipping{
    width: 60%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

table.receipt, tr.receipt, td.receipt, th.receipt
{
  border: 2px solid black;
  color: black;
  font-family: "Arial", sans-serif;
  font-style: oblique;
  font-size: 15pt;
  font-weight: bold;
}

.receipt.number
{
  background-color: lightblue;
}

.receipt.text
{
  background-color: white;
}

.receipt.total
{
  background-color: lightgreen;
  font-weight: bolder;
}

